.home-page-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-page-header {
  background-color: #4c6a74;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  border-bottom: 5px solid #dbad59;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  margin: 0;
  z-index: 1;

  h1 {
    color: white;
    font-size: 24px;
    margin-left: 30px;
  }
}

.add-new-user-section {
  padding-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.all-user-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-user-button {
  background-color: #e67e22;
  justify-content: flex-start;
  border: 2px solid #e67e22;
  margin-left: 10px;

  &:hover {
    background-color: #c46000;
    border: 2px solid #dbad59;
  }
}

.form-group {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;

  label {
    justify-self: start;
  }
}
