.home-page-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-page-header {
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0;
  z-index: 1;
}

.home-page-header h1 {
  font-size: 24px;
  margin: 0;
}

.add-new-user-section {
  padding-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.all-user-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-new-user-button {
  justify-content: flex-start;
  margin-left: 10px;
}
